{% extends 'base.html.twig' %}

{% block title %}Mon compte - ShoesShop
{% endblock %}

{% block content %}

	<h1>Mon compte</h1>

	Bienvenue
	{{ app.user.firstname }}
	dans votre compte !!!
	<br><br>
	{% if is_granted('ROLE_ADMIN') %}
		<a class="btn btn-primary" href="{{ path('admin') }}">Compte administrateur</a>
	{% endif %}
	<br><br>
	C'est dans cette espace que vous allez pouvoir gérer toutes vos informations personnelles.

	<br><br>


	<div class="row">
		<div class="col-md-4">
			<div class="account-item text-center">
			<img src="{{ asset('assets/img/password') }}" alt="Modifier mon mot de passe"><br>
				<a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
			</div>
		</div>

		<div class="col-md-4">
			<div class="account-item text-center">
			<img src="{{ asset('assets/img/adress') }}" alt="Gérer mes adresse"><br>
				<a href="{{ path('account_adresse') }}">Gérer mes adresses</a>
			</div>
		</div>

		<div class="col-md-4">
			<div class="account-item text-center">
			<img src="{{ asset('assets/img/commande') }}" alt="Mes commandes"><br>
				<a href="{{ path('order') }}">Mes commandes</a>
			</div>
		</div>

	</div>

{% endblock %}
